<div class="row contentHeader">
  <div class="col-sm-6 col ">
    <div class="contentTitle">Business Information</div>
    <div class="contentSubtitle">What is your Industry and Profession?</div>
  </div>
  <div class="col-sm-6 col custom-progress-bar">
    <app-progressbar></app-progressbar>
  </div>
</div>
<div class="container-fluid main-content">
  <div class="row margin-bottom-10 margin-top-30">
    <div class="col-9 col-">
      <label for="">Search or select the risk class(es) applicable for your Industry below</label>
      <input type="text" placeholder="Search by Business Name" >
    </div>
    <div class="col-3 txtright"><label>Client ID:</label> 3305165638</div>
  </div>
  <div class="row">
    <div class="col-12 col- txtright">
      <span class="badge badge-light">1</span>selected
    </div>
  </div>
  <div class="row industry_icons">
    <div class="col bakeryproducts">
      <input type="checkbox">
    </div>
    <div class="col candy_confectionery">
      <input type="checkbox">
    </div>
    <div class="col cannedspecialties">
      <input type="checkbox">
    </div>
    <div class="col cheesemanufacturing">
      <input type="checkbox">
    </div>
    <div class="col chocolate_cocoa">
      <input type="checkbox">
    </div>
  </div>
  <div class="row industry_icons">
    <div class="col coffeeroastedmanufacturing">
      <input type="checkbox">
    </div>
    <div class="col candy_confectionery">
      <input type="checkbox">
    </div>
    <div class="col creamerybutter">
      <input type="checkbox">
    </div>
    <div class="col dairyproducts">
      <input type="checkbox">
    </div>
    <div class="col dried_dehydratedfruits">
      <input type="checkbox">
    </div>
  </div>
  <div class="row industry_icons">
    <div class="col flavoringsyrups_extracts">
      <input type="checkbox">
    </div>
    <div class="col foodproducts">
      <input type="checkbox">
    </div>
    <div class="col foodproductswithfry">
      <input type="checkbox">
    </div>
    <div class="col fruit_vegetablepapercontainers">
      <input type="checkbox">
    </div>
    <div class="col fruitdrinks_carbonated_glass">
      <input type="checkbox">
    </div>
  </div>
  <div class="row industry_icons">
    <div class="col fruitdrinksplasticcontainers">
      <input type="checkbox">
    </div>
    <div class="col fruitorvegetablejuice">
      <input type="checkbox">
    </div>
    <div class="col fruits_vegetables_jams_jellies">
      <input type="checkbox">
    </div>
    <div class="col fruits_vegetables_pickledetc">
      <input type="checkbox">
    </div>
    <div class="col fruits_vegetablesfrozen">
      <input type="checkbox">
    </div>
  </div>
   <div class="row industry_icons">
    <div class="col icecream_frozendesserts">
      <input type="checkbox">
    </div>
    <div class="col macaroni_cappellinietc">
      <input type="checkbox">
    </div>
    <div class="col maltbeverage_microbreweries">
      <input type="checkbox">
    </div>
    <div class="col meatpreparedfrozen">
      <input type="checkbox">
    </div>
    <div class="col meatpreparedpackaging">
      <input type="checkbox">
    </div>
  </div>
  <div class="row industry_icons">
    <div class="col milkmanufacturingdry">
      <input type="checkbox">
    </div>
    <div class="col milkmanufacturingfluid">
      <input type="checkbox">
    </div>
    <div class="col nuts_seeds">
      <input type="checkbox">
    </div>
    <div class="col other">
      <input type="checkbox">
    </div>
    <div class="col preparedmeals_desserts">
      <input type="checkbox">
    </div>
  </div>
</div>