<div class="row contentHeader">
  <div class="col-sm-6 col ">
    <div class="contentTitle">Quote</div>
    <div class="contentSubtitle">Select the option best suited for your business</div>
  </div>
  <div class="col-sm-6 col custom-progress-bar">
    <app-progressbar></app-progressbar>
  </div>
</div>
<div class="main-content">
  <div class="container-fluid">
  <div class="row margin-bottom-10 margin-top-30">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 border-class">
        <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 border-class">
        <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 border-class">
        <input type="radio" aria-label="Radio button for following text input">
    </div>
  </div>
  </div>
</div>
<app-dashboardfooter [orderNo]="orderNo"></app-dashboardfooter> 