 <div class="row contentHeader">
  <div class="col-sm-6 col ">
    <div class="contentTitle">Business Information</div>
    <div class="contentSubtitle">What is your Industry and Profession?</div>
  </div>
  <div class="col-sm-6 col custom-progress-bar">
    <app-progressbar></app-progressbar>
  </div>
</div>
<div class="main-content">
  <div class="container-fluid">
  <div class="row margin-bottom-10 margin-top-30">
    <div class="col-6">
      <p><label>Business Name:</label> Cathy Candy LLC </p>
      <label>DBA:</label> Cathy CC 
    </div>
    <div class="col-6 txtright"><label>Client ID:</label> 3305165638</div>
  </div>
  <h3>Industry</h3>
  </div>
<div class="container-fluid">
  <div class="row industry_icons">
    <div class="col agri">
      <input type="checkbox">
    </div>
    <div class="col construction">
      <input type="checkbox">
    </div>
    <div class="col consulting">
      <input type="checkbox">
    </div>
    <div class="col education">
      <input type="checkbox">
    </div>
    <div class="col finance">
      <input type="checkbox">
    </div>
  </div>
  <div class="row industry_icons">
    <div class="col food">
      <input type="checkbox">
    </div>
    <div class="col healthcare">
      <input type="checkbox">
    </div>
    <div class="col realestate">
      <input type="checkbox">
    </div>
    <div class="col transportation">
      <input type="checkbox">
    </div>
    <div class="col sports">
      <input type="checkbox">
    </div>
  </div>
  <h3>Profession</h3>
  <div class="row industry_icons">
    <div class="col aerospace">
      <input type="checkbox">
    </div>
    <div class="col automotive">
      <input type="checkbox">
    </div>
    <div class="col computers">
      <input type="checkbox">
    </div>
    <div class="col consumer">
      <input type="checkbox">
    </div>
    <div class="col food_beverages">
      <input type="checkbox">
    </div>
  </div>
  <div class="row industry_icons">
    <div class="col furniture">
      <input type="checkbox">
    </div>
    <div class="col health">
      <input type="checkbox">
    </div>
    <div class="col lighting">
      <input type="checkbox">
    </div>
    <div class="col mechanical">
      <input type="checkbox">
    </div>
    <div class="col wood_paper">
      <input type="checkbox">
    </div>
  </div>
</div>
</div>
<app-dashboardfooter [orderNo]="orderNo"></app-dashboardfooter> 