<div class="container-fluid login-bg">
  <div class="container h-100">
    <div class="row align-items-center h-100 login">
      <div class="col mx-auto">
        <h3>INSURANCE <span class="first">FIRST</span></h3>
        <div class="bg-white">
         <h4 class="margin-bottom-30">LOGIN</h4>

         <form class="col">
          <div class="form-group">
            <label for="formGroupExampleInput">Username</label>
            <input type="text" class="form-control" name="Username" required autofocus  placeholder="Enter Username" [(ngModel)]="Employeeusername" (blur)="ValidUserName()">
            <div *ngIf="!validuser" class="Error Errormessage">
              {{invalidusername}}
            </div>
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2 lblpassword" style="margin: 8px auto;">Password</label>
            <input  type="password" class="form-control"  placeholder="Enter Password" required [(ngModel)]="Employeepassword" name="Password" (blur)="ValidPassword()" >
            <div *ngIf="!validpass" class="Error Errormessage">
              {{invalidpassword}}
            </div>
          </div>
          <div class="form-group remember margin-bottom-30">
            <input type="checkbox" id="rememberMe" class="marginrememberme" [checked]="saveUsername" (change)="saveUsername = !saveUsername"> Remember Me
            <button class="pullright loginbtn" (click)="LoginData()" >Login</button>
          </div>
        </form>   
      </div>
    </div>
  </div>
</div>
</div>