<div class="row contentFooter">
    <div class="col-sm-3 col">
      <button type="button" class="btn btn-link cancel-button">CANCEL</button>
    </div>
    <div class="col-sm-6 col">
      <div>
        <span class="step-ball"  [ngClass]="{'checkrecorddetails' : orderNo == 1, '' : orderNo == 2 }"></span>
        <span class="step-ball" [ngClass]="{'checkrecorddetails' : orderNo == 2, '' : orderNo == 1 }"></span>
      </div>
      <div> Step {{orderNo}} of 2</div>
    </div>
    <div class="col-sm-3 col">
      <button type="button" class="btn btn-primary save-next-button">SAVE & NEXT</button>
    </div>
  </div>