.contentFooter {
    min-height: 110px;
    background-color: #fcfcfc;
    margin: 0px;
    position: absolute;
    bottom: 0px;
    border-top: 1px solid #e5e5e5;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    text-align: center;
    padding-top: 30px;
  }

  .cancel-button {
    color: #0097D6
  }


.step-ball {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #e5e5e5;
    border-radius: 15px;
    background-color: #fff;
    margin-right: 10px;
  }
  
 .checkrecorddetails {
    border: 1px solid #0097D6;
    background-color: #0097D6;
  }

  

  .save-next-button {
    height: 50px;
    background-color: #0097D6;
  }
  