<div class="container-fluid">
        <div class="row parentContainer">
          <div class="col-sm-12 col titleContainer">
            INSURANCE <span class="insruanceFirst"> FIRST </span>
          </div>
          <div class="col-sm-8 col backdrops backdropContainer_1"></div>
          <div class="col-sm-4 col backdrops backdropContainer_2"></div>
          <div class="col-sm-12 col mainContainer">
            <div class="row popupContainer">
              <div class="col-sm-9 col contentContainer">
                <!-- <app-zipcode></app-zipcode> -->
                 <!-- <app-business-information></app-business-information>   -->
                  <!-- <app-business-information1></app-business-information1>   -->
                 <!-- <app-business-information2></app-business-information2>  -->
                  <!-- <app-business-information3></app-business-information3>  -->
                  <app-compare></app-compare>
              </div>
              <div class="col-sm-3 col tabsContainer">
                <div class="tab-content">
                  <div class="tab-icon">1</div>
                  <div>
                    <div class="tab-title">Discover</div>
                    <div class="tab-subtitle">How to keep your business assets protected</div>
                  </div>
                </div>
                <div class="tab-content">
                  <div class="tab-icon">2</div>
                  <div>
                    <div class="tab-title">Business Information</div>
                    <div class="tab-subtitle">Confirm product and Operations details</div>
                  </div>
                </div>
                <div class="tab-content">
                  <div class="tab-icon">3</div>
                  <div>
                    <div class="tab-title">Coverage</div>
                    <div class="tab-subtitle">Update loss exposures</div>
                  </div>
                </div>
                <div class="tab-content">
                  <div class="tab-icon">4</div>
                  <div>
                    <div class="tab-title">Compare & Buy</div>
                    <div class="tab-subtitle">Compare Premium and Issue Policy</div>
                  </div>
                </div>
              </div>
              <div>
              </div>
            </div>
          </div>
        </div>
      </div>